.category-btns {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  .MuiPaper-elevation4 {
    box-shadow: none;
  }
}
@media (min-width: 1350px) {
  .MuiTabs-flexContainer {
    justify-content: center;
  }
}
