.tags {
  margin-top: 8px;
  display: flex;
  flex-flow: row wrap;
}
.tag.MuiChip-root {
  margin-right: 8px;
  margin-top: 8px;
}
.category-tag.MuiChip-root {
  cursor: pointer;
  background-color: #0088d2;
  color: white;
  &:hover {
    background-color: #046fa8;
  }
}

.service-friendly {
  margin: 20px 0;
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 20px 24px 20px;
}

.service-title {
  padding: 16px 0 8px 0;
  font-weight: 500;
}
.service-text {
  font-size: 14px;
}
