.skeleton-banner {
  margin-left: -24px;
  margin-right: -24px;
}
.skeleton-section,
.skeleton-location {
  border-radius: 10px;
  margin-top: 2rem;
}
.skeleton-tags {
  border-radius: 16px;
  margin-top: 16px;
  margin-right: 8px;
}
.skeleton-flex {
  display: flex;
}
.skeleton-intro {
  margin-top: 20px;
}
