.attractions-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.map-container {
  width: 50%;
}
// .attractions-list::after {
//   content: '';
//   flex: auto;
//   box-sizing: border-box;
// }
i {
  margin: 0 8px;
  width: 264px;
  margin-bottom: 32px;
}
@media (max-width: 608px) {
  i {
    margin-bottom: 0;
  }
}
