.to-list-btn {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 36px;
  left: 36px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  .MuiSvgIcon-root {
    font-size: 18px;
  }
  &:hover {
    background-color: #f5f5f5;
  }
}
.detail-flex {
  display: flex;
  flex-flow: row wrap;
}
.detail-left,
.detail-right {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .detail-left {
    max-width: 60%;
  }
  .detail-right {
    max-width: 40%;
  }
}
.attractions-list-container {
  padding-bottom: 64px;
}
